.welcome-user{
    font-size: 20px;
    font-weight: 700;
}

.sidebar-menu > li a {
    color: #000
}

li a:hover{
    color: #800000;
    font-weight: 700;
}

.dashboard{
    height: 600px !important;
    padding: 20px 0;
}

.help-components{
    padding: 50px 0;
}
.flex-containers {
    display: flex;
    flex-direction: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .flex-containers > div {
    background-color: #f1f1f1;
    width: 250px;
    height: 150px;
    margin: 10px;
    padding: 25px 0;
    text-align: center;
    font-size: 30px;
  }

  .order-box > a {
      color: #000;
  }

  .order-box > a:hover{
      color: #800000;
      font-weight: 700;
      background-color: none;
//       -webkit-box-shadow: 5px 1px 83px 7px rgba(0,0,0,0.56);
// -moz-box-shadow: 5px 1px 83px 7px rgba(0,0,0,0.56);
// box-shadow: 5px 1px 83px 7px rgba(0,0,0,0.56);
  }

  .help-icons{
      width: 30px;
  }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .sidebar-menu > li {
        background-color: #000;
        color: #fff;
        width: 100px !important;
        padding: 5px 15px 5px 15px;
    }

    .sidebar-menu > li a{
        color: #fff;
        text-align: center;
    }
  }