.sidebar-menu > li a {
    color: #000
}

li a:hover{
    color: #800000;
    font-weight: 700;
}

.dashboard{
    height: 500px !important;
}

.flex-containers {
    display: flex;
    flex-direction: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .flex-containers > div {
    background-color: #f1f1f1;
    width: 300px;
    height: 150px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .sidebar-menu > li {
        background-color: #000;
        color: #fff;
        width: 100px !important;
        padding: 5px 15px 5px 15px;
    }

    .sidebar-menu > li a{
        color: #fff;
        text-align: center;
    }
  }